<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tan Loc's Blog</title>
    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <header>
        <div class="avatar"><img src="image/avataaars.svg" alt=""></div>
        <div class="resume"> 
            <ul>
                <li class="action active"><a href="index.html">Home</a></li>
                <li class="action"><a href="#Hobby">My Hobby</a></li>
                <li class="action"><a href="education.html">My University</a></li>
                <li class="action"><a href="music.html">My Music</a></li>
                <li class="action"><a href="#aboutMe">About Me</a></li>
            </ul>
        </div>
    </header>
    <div id="socialMedia">
        <ul>
            <li><a href="https://www.facebook.com/loc.tan.378537/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/mistake.2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/loc-bui-tan-a961bb215/"><i class="fab fa-linkedin-in"></i></a></li>
            
        </ul>
    </div>
    <div class="intro">
       
        <section class="info">
            <div class="sayHi">
                <h1>Hi. I'm Tan Loc</h1>
                <p>Four-Year Information Technology Student!</p>
            </div>
            <hr>
            <div class="info">
                <ul class="infomation">
                    <div class="name"> 
                        <li class="field">Full Name</li>
                        <li class="valueInfo">Bui Tan Loc</li>
                    </div>
                    <div class="address">
                        <li class="field">Address</li>
                        <li class="valueInfo">Ben Tre, Viet Nam</li>
                    </div>
                   <div class="email">
                        <li class="field">Email</li>
                        <li class="valueInfo">tanloc16112905@gmail.com</li>
                   </div>
                    <div class="phone">
                        <li class="field">Phone no.</li>
                        <li class="valueInfo">+84344254080</li>
                    </div>
                </ul>
            </div>
    </div>
    
    </section>
    <section id="aboutMe">
        <img src="image/coffe_keyboard.jpg" alt="">
        <div class="about">
            <h2>About Me</h2>
            My name is Tan Loc and I am a Vietnamese. I am twenty-one years old,and I am a student at University of Information and Technology at the moment. My major is Infomation System, and I am studying in year four. Now I live in Ho Chi Minh city, the beautiful city of Viet Nam. 
        </div>
    </section>
    <section id="Hobby">
        <h2>What is my hobby ?</h2>
        <ul id="hobby">
            <div class="playgame">
                <li class="hobby-name">Play Game</li>
                <li><i class="fas fa-gamepad"></i></li>
            </div>
            
            <div class="running">
                <li class="hobby-name">Running</li>
                <li><i class="fas fa-running"></i></li>

            </div>
            
            <div class="rubik">
                <li class="hobby-name">Rubik</li>
                <li><i class="fas fa-cubes"></i></li>
            </div>
            
            <div class="travel">
                <li class="hobby-name">Travel</li>
                <li><i class="fas fa-globe-asia"></i></li>
            </div>
            
        </ul>
    </section>
    <section class="message">
        <h2>Send a message for me</h2>
        <form action="#">
            <label for="email">Your email:</label>
            <input type="email"  id="email" name="email" required>
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <input type="submit" value="Send">
        </form>
    </section>
    <script src="Script.js"></script>
</body>
</html>