<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tan Loc's Blog</title>
    <link rel="stylesheet" href="css/music.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <header>
        <div class="avatar"><img src="image/avataaars.svg" alt=""></div>
        <div class="resume"> 
            <ul>
                <li class="action"><a href="index.html">Home</a></li>
                <li class="action"><a href="index.html#Hobby">My Hobby</a></li>
                <li class="action"><a href="education.html">My University</a></li>
                <li class="action active"><a href="music.html">My Music</a></li>
                <li class="action"><a href="index.html#aboutMe">About Me</a></li>
            </ul>
        </div>
    </header>
    <div id="socialMedia">
        <ul>
            <li><a href="https://www.facebook.com/loc.tan.378537/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/mistake.2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/loc-bui-tan-a961bb215/"><i class="fab fa-linkedin-in"></i></a></li>
            
        </ul>
    </div>
    <div class="intro">
        <h1>My music playlist!!</h1>
    </div>
    <div class="music">
        <div class="playlist">
            <iframe src="https://open.spotify.com/embed/playlist/6Q3Qo3XxSj5Cu9pQJlBfzG" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <h2>This is my favorite playlist, I listen this musics when I coding. Hope you like it!!</h2>
    </div>
    <script src="Script.js"></script>
</body>
</html>